<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ejs se puede usar en todo el documento! -->
    <title> Browsing the <%= name %> subreddit!</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js" defer></script>
</head>
<body>

    <!-- navbar cogida literal de la pagina de bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Express demo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/r/chickens">Chickens</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/r/soccer">Soccer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/r/mightyharvest">Mighty harvest</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <!-- se puede usar solo name, description o posts ya que se ha usado el spread operator y se tienen los valores individuales -->
    <h1> Welcome to the <%= name %> subreddit!</h1>
    <h2><%= description %></h2>
    <p>Currently <%= subscribers %> subscribers, and growing!</p>
    <hr>
    <!-- el posts sigue siendo un objeto que contiene diferentes valores, asi que un ciclor for of es el que hace loop en objetos para tener sus keys y valores -->
    <% for (let post of posts) { %>
        <article>
            <p><%= post.title %> <i>by <%= post.author %></i></p>
            <% if(post.img) { %>
                <img src="<%= post.img %>" alt="">
            <% } %>
            </article>
    <% } %>
</body>
</html>